/* ----- file-icons-js CSS ----- */
@import '~file-icons-js/css/style.css';

/* ----- Github Page CSS ----- */
#files {
  margin-left: 375px;
}

/* ----- PR-Tree-Viewer CSS ----- */
#pr-tree-viewer-root {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 60px;
  width: 370px;
  min-width: 370px;
  max-width: 700px;
  height: 650px;
  min-height: 500px;
  max-height: calc(100vh - 180px);
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 15px;
  white-space: nowrap;
  overflow: auto;
  resize: both;
}

#pr-tree-viewer-root ul, #pr-tree-viewer-root ul li {
  list-style: none;
}

#pr-tree-viewer-root #pr-changed-files {
  font-size: 14px;
}

#pr-tree-viewer-root #pr-changed-files ul {
  padding-left: 16px;
}

#pr-tree-viewer-root #pr-changed-files img,
#pr-tree-viewer-root #pr-changed-files span,
#pr-tree-viewer-root #pr-changed-files i {
  vertical-align: middle;
  margin-left: 5px;
}

#pr-tree-viewer-root #pr-changed-files img {
  width: 14px;
}

#pr-tree-viewer-root #pr-changed-files span:hover {
  cursor: pointer;
  text-decoration: underline;
}

#pr-tree-viewer-root #pr-changed-files .file-name {
  margin-right: 8px;
}

#pr-tree-viewer-root #pr-changed-files #diff-stat {
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  margin-right: 10px;
}

#pr-tree-viewer-root #pr-changed-files #diff-stat .diff-text {
  font-size: 12px;
  padding-right: 4px;
  margin-left: 0;
}

#pr-tree-viewer-root #pr-changed-files #diff-stat .stat-type {
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  margin-left: 1px;
}

#pr-tree-viewer-root #pr-changed-files #diff-stat .added {
  background-color: #28a745;
}

#pr-tree-viewer-root #pr-changed-files #diff-stat .deleted {
  background-color: #d73a49;
}

#pr-tree-viewer-root #pr-changed-files #diff-stat .neutral {
  background-color: #d1d5da;
}

#pr-tree-viewer-root #viewed-btns-wrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

#pr-tree-viewer-root #viewed-btns-wrapper button {
  border: 0;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  background-color: #fff;
}

#pr-tree-viewer-root #viewed-btns-wrapper button.viewed-btn {
  padding: 8px 20px;
  color: #0c79f8;
  font-weight: 600;
}

#pr-tree-viewer-root #viewed-btns-wrapper button.remove-btn {
  padding: 8px 14px;
  margin-left: 25px;
}

#pr-tree-viewer-root #viewed-btns-wrapper button.remove-btn img {
  width: 10px;
}

#pr-tree-viewer-root #viewed-btns-wrapper button:disabled {
  cursor: not-allowed;
}

#pr-tree-viewer-root #viewed-btns-wrapper button:first-child {
  margin-right: 5px;
}

#pr-tree-viewer-root #diff-stat-show-setting {
  text-align: center;
  margin-bottom: 10px;
}

#pr-tree-viewer-root #diff-stat-show-setting input,
#pr-tree-viewer-root #diff-stat-show-setting span {
  vertical-align: middle;
}

#pr-tree-viewer-root #diff-stat-show-setting span {
  padding-left: 4px;
  font-weight: 600;
  font-size: 14px;
  color: #353535;
}

#pr-tree-viewer-root #diff-stat-show-setting .seperate-line {
  width: 100%;
  height: 1px;
  background-color: #e1e4e8;
  margin-top: 12px;
}
