/* ----- file-icons-js CSS ----- */
@import '~file-icons-js/css/style.css';

/* ----- Github Page CSS ----- */
.js-suggested-changes-files-tab #files_bucket #files,
.js-suggested-changes-files-tab #files_bucket .commit {
  margin-left: 375px;
}

#files_bucket .pr-toolbar.is-stuck #pr-tree-viewer-root {
  top: 70px;
}

/* ----- PR-Tree-Viewer CSS ----- */
#pr-tree-viewer-root {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 60px;
  width: 370px;
  min-width: 370px;
  max-width: 640px;
  height: auto;
  min-height: 200px;
  max-height: calc(100vh - 190px);
  background-color: var(--color-canvas-default);
  border: 1px solid var(--color-border-default, #ddd);
  border-radius: 6px;
  box-sizing: border-box;
  padding: 15px;
  white-space: nowrap;
  overflow: auto;
  resize: both;
}

#pr-tree-viewer-root ul, #pr-tree-viewer-root ul li {
  list-style: none;
}

#pr-tree-viewer-root #pr-changed-files {
  font-size: 14px;
}

#pr-tree-viewer-root #pr-changed-files ul {
  padding-left: 16px;
}

#pr-tree-viewer-root #pr-changed-files img,
#pr-tree-viewer-root #pr-changed-files span,
#pr-tree-viewer-root #pr-changed-files i {
  vertical-align: middle;
  margin-left: 5px;
}

#pr-tree-viewer-root #pr-changed-files img {
  width: 14px;
}

#pr-tree-viewer-root button {
  border: 0;
  border: 1px solid var(--color-border-default, #ddd);
  border-radius: 6px;
  background-color: transparent;
}

#pr-tree-viewer-root #pr-changed-files span:hover {
  cursor: pointer;
  text-decoration: underline;
}

#pr-tree-viewer-root #pr-changed-files .file-name {
  margin-right: 8px;
}

#pr-tree-viewer-root #pr-changed-files .file-name.deleted {
  text-decoration: line-through;
}

#pr-tree-viewer-root #pr-changed-files #diff-stat {
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  margin-right: 10px;
}

#pr-tree-viewer-root #pr-changed-files #diff-stat .diff-text {
  font-size: 12px;
  padding-right: 4px;
  margin-left: 0;
}

#pr-tree-viewer-root #pr-changed-files #diff-stat .stat-type {
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  margin-left: 1px;
  outline: 1px solid var(--color-border-subtle);
  outline-offset: -1px;
}

#pr-tree-viewer-root #pr-changed-files #diff-stat .added {
  background-color: var(--color-diffstat-addition-bg);
}

#pr-tree-viewer-root #pr-changed-files #diff-stat .deleted {
  background-color: var(--color-danger-emphasis);
}

#pr-tree-viewer-root #pr-changed-files #diff-stat .neutral {
  background-color: var(--color-neutral-muted);
}

#pr-tree-viewer-root .remove-btn {
  position: absolute;
  right: 25px;
  padding: 8px 14px;
}

#pr-tree-viewer-root .remove-btn img {
  width: 10px;
}

#pr-tree-viewer-root #viewed-btns-wrapper {
  width: 100%;
  text-align: center;
  margin-left: -25px;
}

#pr-tree-viewer-root #viewed-btns-wrapper button {
  padding: 8px 20px;
  color: #0c79f8;
  font-weight: 600;
}

#pr-tree-viewer-root #viewed-btns-wrapper button:disabled {
  cursor: not-allowed;
}

#pr-tree-viewer-root #viewed-btns-wrapper button:first-child {
  margin-right: 5px;
}

#pr-tree-viewer-root #diff-stat-show-setting {
  text-align: center;
  margin: 10px 0;
}

#pr-tree-viewer-root #diff-stat-show-setting input,
#pr-tree-viewer-root #diff-stat-show-setting span {
  vertical-align: middle;
}

#pr-tree-viewer-root #diff-stat-show-setting span {
  padding-left: 4px;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-fg-default);
}

#pr-tree-viewer-root #diff-stat-show-setting .seperate-line {
  width: 100%;
  height: 1px;
  background-color: var(--color-border-default, #ddd);
  margin-top: 12px;
}

/* ----- PR-Tree-Viewer Common CSS in Github Dark/Dark Dimmed Mode ----- */
#pr-tree-viewer-root.dark-mode #diff-stat-show-setting input[type=checkbox]:checked,
#pr-tree-viewer-root.dark-dimmed-mode #diff-stat-show-setting input[type=checkbox]:checked {
  filter: grayscale(1);
}

/* ----- PR-Tree-Viewer CSS in Github Dark Mode ----- */
#pr-tree-viewer-root.dark-mode #viewed-btns-wrapper button {
  color: #58a6ff;
}

/* ----- PR-Tree-Viewer CSS in Github Dark Dimmed Mode ----- */
#pr-tree-viewer-root.dark-dimmed-mode #viewed-btns-wrapper button {
  color: #539bf5;
}
